/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 30px;
}

/* gauche */
.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* logo */
.logo {
    background: #2E8B57;
    color: #fff;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 6px;
}

/* nom site */
.site-name {
    font-weight: bold;
    color: #2E8B57;
    margin-right: 20px;
}

/* liens */
.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    margin: 0 8px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #000;
}

/* droite */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 30px;
    font-size: 0.9em;
    color: #555;
    border-top: 1px solid #ddd;
}

/* liens footer */
.footer-right {
    display: flex;
    gap: 20px;
}

.footer a {
    text-decoration: none;
    color: #555;
    transition: 0.3s;
}

.footer a:hover {
    color: #000;
}