/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* structure page */
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #ffffff, #f1e7e7);
}

.main-content {
    flex: 1;
}

/* centrage de la page erreur */
.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* carte */
.error-card {
    background: #fff;
    padding: 50px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    animation: fadeIn 0.8s ease-in-out;
}

/* titres */
.error-card h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.error-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

/* texte */
.error-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

/* bouton */
.btn-home {
    display: inline-block;
    padding: 12px 25px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-home:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}